<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Color Palette Generator</title>
		<style>
          h1 {
			  color: purple;
		  }
		</style>
	</head>
	<body>
		<h1>Hello</h1>

		<form id="form">
			<input type="text" name="query">
			<button>Submit</button>
		</form>

		<script>
			const form = document.querySelector("#form");
			form.addEventListener("submit", function(e) {
				e.preventDefault();
				const query = form.elements.query.value;
				fetch("/palette", {
					method: "POST",
					headers: {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					body: new URLSearchParams({
						query: query
					})
				})
				.then((response) => response.json())
				.then(data => {
					console.log(data)
				})
			})
		</script>
	</body>
</html>
